@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --content-max-width: 960px;
    --content-narrow-width: 540px;

    --color-eggshell: #eeeeee;
    --color-sunflower: #fac526;
    --color-vermilion: #e82356;
    --color-foam: #e5dccb;
    --color-crema: #994400;
    --color-coffee: #442211;
    --color-sage: #bddbdb;
    --color-olive: #53765e;
    --color-emerald: #2f4842;
    --color-lavender: #ccbbdd;
    --color-amethyst: #685696;
    --color-grape: #4d3663;
    --color-black: #111111;
    --color-black-overlay-20: rgb(from var(--color-black) r g b / 0.20);
    --color-black-overlay-30: rgb(from var(--color-black) r g b / 0.30);
    --color-black-overlay-50: rgb(from var(--color-black) r g b / 0.50);

    --font-jost: "Jost", ui-sans-serif, system-ui;
    --font-larken: "Larken", "Times", serif;
    --font-public-sans: "Public Sans", "Helvetica", "Arial", sans-serif;

    --font-size-12: calc(var(--base-value) * 0.75);
    --font-size-14: calc(var(--base-value) * 0.875);
    --font-size-16: var(--base-value);
    --font-size-20: calc(var(--base-value) * 1.25);
    --font-size-24: calc(var(--base-value) * 1.5);
    --font-size-32: calc(var(--base-value) * 2);
    --font-size-48: calc(var(--base-value) * 3);
    --font-size-64: calc(var(--base-value) * 4);
    --font-size-96: calc(var(--base-value) * 6);
    --font-size-144: calc(var(--base-value) * 9);

    --line-height-80: 80%;
    --line-height-120: 120%;
    --line-height-160: 160%;

    --letter-spacing-loose: 0.05em;
    --letter-spacing-normal: 0;
    --letter-spacing-tight: -0.015em;
    --letter-spacing-tighter: -0.03em;
}
body {
    background: top left / 66% repeat url(../assets/bg-texture-eggshell.jpg), var(--color-eggshell);
    color: var(--color-coffee);
    font-size: var(--font-size-16);
}
hr {
    margin: var(--spacing-200) auto;
    border: none;
    border-top: 1px solid;
    color: inherit;
    opacity: 0.5;
}
/* 
 * 
 * Typography, starting with base styles.
 *
 */
p {
    font-family: var(--font-public-sans);
    line-height: var(--line-height-160);
}
p + p {
    padding-top: var(--spacing-100);
}
p a, a {
    font-family: var(--font-jost);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-loose);
    font-size: var(--font-size-14);
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 50%;
    text-decoration-thickness: 1px;
    color: inherit;
    transition: 0.3s all ease;
}
a:hover {
    text-decoration-color: transparent;
}
h3, h2, h1 {
    font-family: var(--font-larken);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-tight);
    font-weight: 300;
}
h3 {
    font-size: var(--font-size-32);
    padding-bottom: var(--spacing-200);
}
h2 {
    font-size: calc(var(--font-size-32));
    padding-bottom: var(--spacing-200);
    @media ( min-width: 64rem ) {
        font-size: var(--font-size-48);
    }
}
h1 {
    font-size: var(--font-size-48);
    @media ( min-width: 64rem ) {
        font-size: var(--font-size-64);
    }
}
/* 
 * 
 * Font declaration utility classes.
 *
 */
.font-jost {
    font-family: var(--font-jost);
}
.font-larken {
    font-family: var(--font-larken);
    letter-spacing: var(--letter-spacing-tight);
}
/* 
 * 
 * Typography Scale, represented as assignable classes.
 *
 */
.type-label-sm {
    font-family: var(--font-jost);
    font-size: var(--font-size-12);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-loose);
    text-transform: uppercase;
    font-weight: 500;
}
.type-label {
    font-family: var(--font-jost);
    font-size: var(--font-size-14);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-loose);
    text-transform: uppercase;
    font-weight: 500;
}
.type-label + h3, .type-label + h2, .type-label + h1 {
    margin-top: var(--font-size-32);
}
.type-body-sm {
    font-family: var(--font-public-sans);
    font-size: var(--font-size-14);
    letter-spacing: var(--letter-spacing-tight);
}
.type-body {
    font-family: var(--font-public-sans);
    font-size: var(--font-size-16);
    letter-spacing: normal;
}
.type-title-sm {
    font-family: var(--font-jost);
    font-size: var(--font-size-20);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-loose);
}
.type-title {
    font-family: var(--font-jost);
    font-size: var(--font-size-24);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-loose);
    text-transform: uppercase;
    font-weight: 400;
}
.type-heading-sm {
    font-size: var(--font-size-24);
    line-height: var(--line-height-120);

    @media ( min-width: 64rem ) {
        font-size: var(--font-size-32);
    }
}
.type-heading {
    font-size: var(--font-size-32);
    line-height: var(--line-height-120);

    @media ( min-width: 64rem ) {
        font-size: var(--font-size-48);
    }
}
.type-display-sm {
    font-size: var(--font-size-64);
    line-height: var(--line-height-80);
}
.type-display {
    font-size: var(--font-size-64);
    line-height: var(--line-height-80);

    @media ( min-width: 64rem ) {
        font-size: var(--font-size-96);
    }
}
.type-display-lg {
    font-size: var(--font-size-96);
    line-height: var(--line-height-80);

    @media ( min-width: 64rem ) {
        font-size: var(--font-size-144);
    }
}
/* 
 *
 *
 * BACKGROUNDS: Color Pairs
 *
 *
 */
 .bg-sage {
    background-color: var(--color-sage);
    color: var(--color-emerald);
 }
 .bg-olive {
    background-color: var(--color-olive);
    color: var(--color-eggshell);
 }
 .bg-emerald {
    background-color: var(--color-emerald);
    color: var(--color-olive);
 }

 .bg-foam {
    background-color: var(--color-foam);
    color: var(--color-coffee);
 }
 .bg-crema {
    background-color: var(--color-crema);
    color: var(--color-eggshell);
 }
 .bg-coffee {
    background-color: var(--color-coffee);
    color: var(--color-crema);
 }

 .bg-lavender {
    background-color: var(--color-lavender);
    color: var(--color-grape);
 }
 .bg-amethyst {
    background-color: var(--color-amethyst);
    color: var(--color-eggshell);
 }
 .bg-grape {
    background-color: var(--color-grape);
    color: var(--color-amethyst);
 }

 .bg-white {
    background-color: white;
    color: var(--color-coffee);
 }
 .bg-eggshell {
    background-color: var(--color-eggshell);
    color: var(--color-coffee);
 }
/* 
 *
 *
 * BACKGROUNDS: Paintings
 *
 *
 */
 .bg-monet-dinner {
    background: linear-gradient(var(--color-black-overlay-30)), center 25% / cover no-repeat url(../assets/paintings/interior_after_dinner_1983.1.26.jpg);
    color: var(--color-eggshell);
 }
 .bg-monet-argenteuil {
    background: linear-gradient(var(--color-black-overlay-30)), center 80% / cover no-repeat url(../assets/paintings/argenteuil_1970.17.42.jpg);
    color: var(--color-eggshell);
 }
 .bg-monet-garden-sunflowers {
    background: linear-gradient(var(--color-black-overlay-30)), center 10% / cover no-repeat url(../assets/paintings/the_artist_s_garden_at_vetheuil_1970.17.45.jpg);
    color: var(--color-eggshell);
 }
/* 
 *
 *
 * BACKGROUNDS: Utilities
 *
 *
 */
 .wallpaper { /* Contains an image to its container */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    object-fit: cover;
 }
 img.wallpaper, video.wallpaper {
    padding: 0 !important;
    user-select: none;
 }
 /* Theme-specific utility classes "overlay-*" add semi-transparent black screens. Apply to the parent of a wallpaper. */
.overlay-20 {
    position: relative;
    background: var(--color-black-overlay-20);
    color: var(--color-eggshell);
}
.overlay-30 {
    position: relative;
    background: var(--color-black-overlay-30);
    color: var(--color-eggshell);
}
.overlay-50 { 
    position: relative;
    background: var(--color-black-overlay-50);
    color: var(--color-eggshell);
}
.overlay-gradient {
    background: linear-gradient(to right top, rgb(from var(--color-black) r g b / 0.5), transparent 66%);
}
/* 
 *
 *
 * BLOCK: HERO //////// A large opening hero with center-aligned typography, and an elegant scroll indicator at the bottom. Design variants are indicated in the HTML via custom data.
 *
 *
 */
.block.hero[data-layout="normal"], .block.hero[data-layout="home"], .block.hero[data-layout="text-only"] {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vmin;
    width: 100%;

    @media ( min-width: 48rem ) {
        min-height: unset;
        height: 100vmin;
    }
}
.block.hero[data-layout="home"] {
    min-height: 100vh;
    min-height: 100svh;
}
@media (min-width: 48rem) /* Tablet 768 */ {
    .block.hero #splash {
        --grid-column-start: 3;
    }
}
.block.hero[data-layout="text-only"] {
    padding-top: var(--spacing-500);
    padding-bottom: unset;
    background: unset;
    color: var(--color-coffee);
}
.block.hero[data-layout="text-only"] .scroll, .block.hero[data-layout="text-only"] img, .block.hero[data-layout="text-only"] video {
    display: none !important;
}
.scroll {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.scroll-text {
    margin-bottom: 1em;
    font-weight: 400;
}
.scroll-animation {
    position: relative;
    width: 1px;
    background: rgb(from currentColor r g b / 0.33);
    height: clamp(var(--spacing-300), 4vw, var(--spacing-400));
}
.scroll-animation:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: currentColor;
    animation: elegant-scroll-prompt 4s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@keyframes elegant-scroll-prompt {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }
    24% {
        transform: scaleY(1);
        transform-origin: top;
    }
    25% {
        transform: scaleY(1);
        transform-origin: bottom;
    }
    50% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
    100% {
        transform: scaleY(0);
        transform-origin: top;
    }
}
/* 
 *
 *
 * BLOCK: FOREWORD //////// A blockquote-style, center-aligned typographic preview treatment; can be used for a page opener, long-form copy, section markers, etc.
 *
 *
 */
 .block.foreword {
    padding-top: var(--spacing-400);
    padding-bottom: var(--spacing-400);
    @media ( min-width: 64rem ) {
        padding-top: var(--spacing-600);
        padding-bottom: var(--spacing-600);
    }
}
.block.foreword :last-child {
    margin-top: var(--spacing-400);
    padding: unset;
}
/* 
 *
 *
 * BLOCK: FEATURE //////// Full-width image, graphic or video. Constrains to a certain aspect ratio until larger breakpoints.
 *
 *
 */
.block.feature {
    padding: 0;
    position: relative;
    aspect-ratio: 4/5;
    width: 100%;
    height: 100%;
    margin-bottom: -4px;

    @media ( min-width: 48rem ) /* Tablet 768 */ {
        aspect-ratio: unset;
    }
}
.block.feature img, .block.feature video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 
 *
 *
 * BLOCK: MANIFEST //////// List-style designs for itineraries, event listings or navigation hubs. Custom data determines style variants.
 *
 *
 */
.block.manifest[data-layout="normal"], .block.manifest[data-layout="display"] {
    padding-top: var(--spacing-800);
    padding-bottom: var(--spacing-800);
 }
.block.manifest[data-layout="normal"] .row {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    gap: var(--grid-gap);
    width: 100%;
    text-align: left;
    padding: var(--spacing-200) 0 var(--spacing-100);
    border-bottom: 1px solid rgb(from currentColor r g b / 0.5);
 }
.block.manifest[data-layout="normal"] .row * {
    grid-column-start: var(--grid-column-start);
    grid-column-end: var(--grid-span);
    width: 100%;
 }
.block.manifest[data-layout="normal"] .row:first-child {
    padding-top: var(--spacing-200);
 }
.block.manifest[data-layout="normal"] .row:is(a) {
    position: relative;
    text-decoration: none;
    text-transform: none;
    opacity: 0.50;
    border-color: currentColor;
 }
.block.manifest[data-layout="normal"] .row:is(a):after {
    content: '\2192';
    position: absolute;
    right: 2.5%;
    bottom: calc(50% - var(--spacing-100));
    font-size: var(--font-size-24);
    font-weight: 100;
 }
.block.manifest[data-layout="normal"] .row:is(a):first-child {
    padding-top: var(--spacing-200);
 }
.block.manifest[data-layout="normal"] .row .row-title {
    font-family: var(--font-jost);
    font-size: var(--font-size-14);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-loose);
    text-transform: uppercase;
    font-weight: 500;
 }
.block.manifest[data-layout="display"] .row {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
    margin: 0;
    width: 100%;
    padding: var(--spacing-300) 0;
    transition: all 0.6s;
    opacity: 0.50;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid currentColor;

    @media ( min-width: 48rem ) {
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        text-align: right;
    }
 }
.block.manifest[data-layout="display"] .row:last-child {
    border-bottom: 1px solid currentColor;
    padding-bottom: var(--spacing-400);
 }
.block.manifest[data-layout="display"] .row[data-direction="reverse"] {
    @media ( min-width: 48rem ) {
        text-align: left;
        flex-direction: row-reverse;
    }
 }
.block.manifest[data-layout="display"] .row .row-title {
    font-family: var(--font-jost);
    font-weight: 300;
    font-size: var(--font-size-96);
    line-height: var(--line-height-80);
    letter-spacing: var(--letter-spacing-tight);
    text-transform: uppercase;

    @media ( min-width: 64rem ) {
        font-size: var(--font-size-144);
    }
 }
.block.manifest[data-layout="display"] .row:hover, .block.manifest[data-layout="normal"] .row:is(a):hover {
    opacity: 1;
 }
.block.manifest[data-layout="display"] .row:hover .row-title {
    font-family: var(--font-larken);
    text-transform: none;
    font-style: italic;
    transform: scale(0.95);
 }
.block.manifest[data-layout="display"] .row .row-details {
    text-transform: none;
    display: none;

    @media (min-width: 48rem ) {
        display: block;
    }
 }
 .block.manifest[data-layout="display"] .row[data-show-details="false"] .row-details {
    display: none;
 }
 .block.manifest + .block.manifest {
    padding-top: 0;
 }
/* 
 *
 *
 * BLOCK: TIMELINE //////// Card-style layouts meant for breaking up large chunks of information into a cascading, visual timeline. Layout uses custom data to determine flow direction.
 *
 *
 */
.block.timeline {
    padding-top: var(--spacing-200);
    padding-bottom: var(--spacing-400);

    @media ( min-width: 48rem ) {
        padding-top: var(--spacing-600);
        padding-bottom: var(--spacing-600);
    }
}
.block.timeline .row {
    align-items: center;
}
.block.timeline .row + .row {
    margin-top: var(--spacing-800);
    @media ( min-width: 48rem ) {
        margin-top: var(--spacing-800);
    }
}
.block.timeline .image-feature {
    grid-row: 1;
    
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;

    @media ( min-width: 48rem ) {
        aspect-ratio: 4/5;
        grid-row: auto;
    }
}
.block.timeline .image-feature:has(.details):before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right top, rgb(from var(--color-black) r g b / 0.5), transparent 66%);
}
.block.timeline .image-feature img, .block.timeline .image-feature video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.block.timeline .image-feature .details {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: unset;
    height: 100%;
    color: var(--color-eggshell);
    padding: 5%;
}
.block.timeline .image-feature .details h2 {
    padding: 0;
}
.block.timeline .prose {
    grid-row: 3;

    @media ( min-width: 48rem ) {
        grid-row: auto;
    }
}
.block.timeline .row[data-direction="reverse"] {
    align-items: center;

    @media ( min-width: 48rem ) {
        & .image-feature {
            grid-row: 1;
            grid-column-start: 7;
        }
        & .prose {
            grid-row: 1;
            grid-column-start: 1;
        }
    } 
}
/* 
 *
 *
 * BLOCK: ACCORDION //////// A simple accordion, for long segments of information that can be collapsed.
 *
 *
 */
.block.accordion {
    padding-top: var(--spacing-400);
    padding-bottom: var(--spacing-400);
}
.block.accordion details {
    padding-top: var(--spacing-100);
    padding-bottom: var(--spacing-100);
}
.block.accordion details:not([open]) {
    border-bottom: 1px solid rgb(from currentColor r g b / 0.5);
}
.block.accordion details > summary {
    list-style: none;
    font-family: var(--font-larken);
    letter-spacing: var(--letter-spacing-tight);
    font-style: italic;
    position: relative;
}
summary::-webkit-details-marker {
    display: none;
}
.block.accordion details > summary:after {
    content: '\002B';
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: var(--font-jost);
    font-size: var(--font-size-48);
    line-height: 100%;
    font-weight: 100;
    font-style: normal;
}
.block.accordion details[open] > summary:after {
    content: '\2212';
}
.block.accordion .row {
    padding-top: var(--spacing-100);
    padding-bottom: var(--spacing-200);
    border-bottom: 1px solid rgb(from currentColor r g b / 0.5);
}
.block.accordion .row:first-of-type {
    padding-top: var(--spacing-200);
    border-top: 1px solid rgb(from currentColor r g b / 0.5);
}
/* 
 *
 *
 * BLOCK: COUNTDOWN //////// A countdown timer. Uses utility classes for further customization.
 *
 *
 */
.block.countdown {
    text-align: center;
    padding: var(--spacing-600) 0;
}
.block.countdown ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    align-items: center;
}
.block.countdown li {
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    width: 10rem;
}
.block.countdown li span {
    display: block;
    font-weight: 400;
    padding-bottom: var(--spacing-100);
}
@media ( min-width: 48rem ) /* Tablet 768 */ {
    .block.countdown {
        padding: var(--spacing-800) 0;
    }
    .block.countdown ul {
        flex-direction: row;
        gap: unset;
        justify-content: space-between;
    }
}
/* 
 *
 *
 * BLOCK: FOOTER //////// Website footer. Uses custom data to show/hide a pre-footer call-to-action, or to make the footer smaller.
 *
 *
 */
/* footer {
    padding: var(--spacing-600) 0 var(--spacing-800) !important;
}
.mini-footer {
    padding: var(--spacing-500) 0 !important;
}*/
.block.footer[data-layout="normal"], .block.footer[data-layout="small"] {
    padding: 0;
 }
.block.footer[data-layout="normal"] .container:not(.pre-footer > .container) {
    margin: 0 auto;
    gap: var(--spacing-600);
    padding-top: var(--spacing-600);
    padding-bottom: var(--spacing-800);
}
.block.footer[data-layout="small"] .container:not(.pre-footer > .container) {
    margin: 0 auto;
    gap: 0;
    padding-top: var(--spacing-500);
    padding-bottom: var(--spacing-500);
}
.block.footer[data-layout="small"] .container:not(.pre-footer > .container) *:not(#footer-logo-primary, #footer-logo-secondary) {
    display: none;
}
.block.footer[data-show-pre-footer="false"] .pre-footer {
    display: none;
    pointer-events: none;
}
.pre-footer {
    display: block;
    text-transform: unset;
    padding: var(--spacing-400) 0;
    text-transform: unset !important;
    text-decoration: none !important;
    transition: all ease 0.4s;

    --pre-footer-font-size: var(--font-size-24);

    @media ( min-width: 64rem ) {
        --pre-footer-font-size: var(--font-size-32);
    }
}
.pre-footer > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pre-footer-text {
    font-size: var(--pre-footer-font-size);
    font-family: var(--font-larken);
    letter-spacing: var(--letter-spacing-tight);
}
.pre-footer .pre-footer-arrow {
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--pre-footer-font-size) * 1.5);
    height: calc(var(--pre-footer-font-size) * 1.5);
    overflow: hidden;
    border: 1px solid rgb(from currentColor r g b / 0.33);
    border-radius: 50%;
    margin-left: 3rem;
}
.pre-footer .pre-footer-arrow > i {
    position: absolute;
    font-size: calc(var(--pre-footer-font-size) * 0.66);
    transition: all ease 0.4s;
}
.pre-footer .pre-footer-arrow > i:first-child {
    transform: translateX(0);
}
.pre-footer .pre-footer-arrow > i:last-child {
    transform: translateX(calc(calc(var(--pre-footer-font-size) * 1.5) * -1));
}
.pre-footer:hover .pre-footer-arrow > i:first-child {
    transform: translateX(calc(calc(var(--pre-footer-font-size) * 1.5) * 1));
}
.pre-footer:hover .pre-footer-arrow > i:last-child {
    transform: translateX(0);
}
/* 
 * 
 * 
 * Items by ID.
 * 
 * 
 */
#footer-logo-primary {
    max-height: var(--spacing-600);
}
#footer-logo-secondary, #hub-rings {
    max-width: var(--spacing-600);
}
#hub-rings {
    opacity: 0.5;
    margin-top: var(--spacing-800);
}
#handwriting-thanks {
    margin-top: calc(var(--spacing-200) * -1);
    margin-bottom: var(--spacing-200);
}
#handwriting-hearts {
    max-width: var(--spacing-600);
    margin-top: var(--spacing-200);
    margin-bottom: calc(var(--spacing-200) * -1);
    align-self: center;
}
#attire-swatches {
    padding-bottom: var(--spacing-200);
}
/* 
 * 
 * 
 * Utilities.
 * 
 * 
 */
.narrow /* Constrains a container or element to a smaller maximum size than the content-max-width. */ {
    max-width: var(--content-narrow-width);
}
.pill {
    border-radius: 0.25em;
    padding: 0.5em 1em;
    text-align: center;
    width: fit-content;
}
