@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --content-max-width: 960px;
    --content-narrow-width: 540px;

    --color-eggshell: #eeeeee;
    --color-sunflower: #fac526;
    --color-vermilion: #e82356;
    --color-foam: #e5dccb;
    --color-crema: #994400;
    --color-coffee: #442211;
    --color-sage: #bddbdb;
    --color-olive: #53765e;
    --color-emerald: #2f4842;
    --color-lavender: #ccbbdd;
    --color-amethyst: #685696;
    --color-grape: #4d3663;
    --color-black: #111111;
    --color-black-overlay-20: rgb(from var(--color-black) r g b / 0.20);
    --color-black-overlay-30: rgb(from var(--color-black) r g b / 0.30);
    --color-black-overlay-50: rgb(from var(--color-black) r g b / 0.50);

    --font-jost: "Jost", ui-sans-serif, system-ui;
    --font-larken: "Larken", Times, serif;
    --font-public-sans: "Public Sans", Helvetica, Arial, sans-serif;

    --font-size-12: calc(var(--base-value) * 0.75);
    --font-size-14: calc(var(--base-value) * 0.875);
    --font-size-16: var(--base-value);
    --font-size-20: calc(var(--base-value) * 1.25);
    --font-size-24: calc(var(--base-value) * 1.5);
    --font-size-32: calc(var(--base-value) * 2);
    --font-size-48: calc(var(--base-value) * 3);
    --font-size-64: calc(var(--base-value) * 4);
    --font-size-96: calc(var(--base-value) * 6);
    --font-size-144: calc(var(--base-value) * 9);

    --line-height-80: 80%;
    --line-height-120: 120%;
    --line-height-160: 160%;

    --letter-spacing-loose: 0.05rem;
    --letter-spacing-normal: 0;
    --letter-spacing-tight: -0.025rem;
    --letter-spacing-tighter: -0.75rem;
}
body {
    background: top left / 66% repeat url(../assets/bg-texture-eggshell.jpg), var(--color-eggshell);
    color: var(--color-coffee);
    font-size: var(X);
}
hr {
    margin: var(--spacing-200) auto;
    border: none;
    border-top: 1px solid;
    color: inherit;
    opacity: 0.5;
}

/* //////// //////// */
/* //////// TYPOGRAPHY */
/* //////// //////// */

/* --- */
/* --- Base Styles */
p {
    font-family: var(--font-public-sans);
    line-height: var(--line-height-160);
}
p + p {
    padding-top: var(--spacing-100);
}
p a, a {
    font-family: var(--font-jost);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-loose);
    font-size: var(--font-size-14);
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 50%;
    text-decoration-thickness: 1px;
    color: inherit;
    transition: 0.3s all ease;
}
a:hover {
    text-decoration-color: transparent;
}
h3, h2, h1 {
    font-family: var(--font-larken);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-tight);
    font-weight: 300;
}
h3 {
    font-size: var(--font-size-32);
    padding-bottom: var(--spacing-200);
}
h2 {
    font-size: calc(var(--font-size-32));
    @media ( min-width: 64rem ) {
        font-size: var(--font-size-48);
    }
}
h1 {
    font-size: var(--font-size-48);
    @media ( min-width: 64rem ) {
        font-size: var(--font-size-64);
    }
}

/* --- */
/* --- Font Classes */
 .font-jost {
    font-family: var(--font-jost);
 }
 .font-larken {
    font-family: var(--font-larken);
    letter-spacing: var(--letter-spacing-tight);
 }

/* --- */
 /* --- Typography Scale Classes */
.type-label-sm {
    font-family: var(--font-jost);
    font-size: var(--font-size-12);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-loose);
    text-transform: uppercase;
    font-weight: 500;
}
.type-label {
    font-family: var(--font-jost);
    font-size: var(--font-size-14);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-loose);
    text-transform: uppercase;
    font-weight: 400;
}
.type-body-sm {
    font-family: var(--font-public-sans);
    font-size: var(--font-size-14);
}
.type-title-sm {
    font-family: var(--font-jost);
    font-size: var(--font-size-20);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-loose);
}
.type-title {
    font-family: var(--font-jost);
    font-size: var(--font-size-24);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-loose);
    text-transform: uppercase;
    font-weight: 400;
}
.type-heading-sm {
    font-size: var(--font-size-32);
    line-height: var(--line-height-120);
}
.type-heading {
    font-size: var(--font-size-48);
    line-height: var(--line-height-120);
}
.type-display-sm {
    font-size: var(--font-size-64);
    line-height: var(--line-height-80);
}
.type-display {
    font-size: var(--font-size-64);
    line-height: var(--line-height-80);

    @media ( min-width: 64rem ) {
        font-size: var(--font-size-96);
    }
}
.type-display-lg {
    font-size: var(--font-size-96);
    line-height: var(--line-height-80);

    @media ( min-width: 64rem ) {
        font-size: var(--font-size-144);
    }
}
/* 
 *
 *
 * Background Color Pairs
 *
 *
 */

/* Greens */
 .bg-sage {
    background-color: var(--color-sage);
    color: var(--color-emerald);
 }
 .bg-olive {
    background-color: var(--color-olive);
    color: var(--color-eggshell);
 }
 .bg-emerald {
    background-color: var(--color-emerald);
    color: var(--color-olive);
 }

/* Browns */
 .bg-foam {
    background-color: var(--color-foam);
    color: var(--color-coffee);
 }
 .bg-crema {
    background-color: var(--color-crema);
    color: var(--color-eggshell);
 }
 .bg-coffee {
    background-color: var(--color-coffee);
    color: var(--color-crema);
 }

/* Purples */
 .bg-lavender {
    background-color: var(--color-lavender);
    color: var(--color-grape);
 }
 .bg-amethyst {
    background-color: var(--color-amethyst);
    color: var(--color-eggshell);
 }
 .bg-grape {
    background-color: var(--color-grape);
    color: var(--color-amethyst);
 }

 /* Neutrals */
 .bg-white {
    background-color: white;
    color: var(--color-coffee);
 }
/* 
 *
 *
 * Background Treatments
 *
 *
 */
 .bg-monet-dinner {
    background: linear-gradient(rgb(from var(--color-black) r g b / 0.33)), center 25% / cover no-repeat url(../assets/paintings/interior_after_dinner_1983.1.26.jpg);
    color: var(--color-eggshell);
 }
 .bg-monet-argenteuil {
    background: linear-gradient(rgb(from var(--color-black) r g b / 0.33)), center 80% / cover no-repeat url(../assets/paintings/argenteuil_1970.17.42.jpg);
    color: var(--color-eggshell);
 }
 .wallpaper { /* Theme-specific utility class "wallpaper" will contain any image or video to the container it's inside. */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -50;
    object-fit: cover;
 }
 img.wallpaper, video.wallpaper {
    padding: 0 !important;
    user-select: none;
 }
 /* Theme-specific utility classes "overlay-*" add a semi-transparent black screen. Apply to the container of a wallpaper, video or image. */
.overlay-20 { 
    background: var(--color-black-overlay-20);
    color: var(--color-eggshell);
}
.overlay-30 { 
    background: var(--color-black-overlay-30);
    color: var(--color-eggshell);
}
.overlay-50 { 
    background: var(--color-black-overlay-50);
    color: var(--color-eggshell);
}
.overlay-gradient {
    background: linear-gradient(to right top, rgb(from var(--color-black) r g b / 0.5), transparent 66%);
}
/* 
 *
 *
 * Hero styles.
 *
 *
 */
.hero /* Applies base styling to all heroes on all pages. */ {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vmin;
    width: 100%;
}
.home-hero /* Apply in addition to 'hero' to override viewport height. */ {
    min-height: 100vh;
    min-height: 100svh;
}
@media (min-width: 48rem) /* Tablet 768 */ {
    .hero {
        min-height: unset;
        height: 100vmin;
    }
    .home-hero #splash {
        --grid-column-start: 3;
    }
}
.hero.text-only /* Apply 'text-only' class in addition to 'hero' to override spacing. */{
    padding-top: var(--spacing-500);
    padding-bottom: unset;
}
.scroll {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.scroll-text {
    margin-bottom: 1em;
}
.scroll-animation {
    position: relative;
    width: 1px;
    background: rgb(from currentColor r g b / 0.33);
    height: clamp(var(--spacing-300), 4vw, var(--spacing-400));
}
.scroll-animation:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: currentColor;
    animation: scrollprompt 4s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@keyframes scrollprompt {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }
    24% {
        transform: scaleY(1);
        transform-origin: top;
    }
    25% {
        transform: scaleY(1);
        transform-origin: bottom;
    }
    50% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
    100% {
        transform: scaleY(0);
        transform-origin: top;
    }
}
/* 
 * 
 * 
 * Items by ID.
 * 
 * 
 */
#handwriting-hearts {
    max-width: var(--spacing-600);
    margin-bottom: calc(var(--spacing-200) * -1);
    align-self: center;
}
#attire-swatches {
    padding-bottom: var(--spacing-200);
}
/* 
 * 
 * 
 * Reusable sections, utilities etc.
 * 
 * 
 */
.narrow /* Constrains a container or element to a smaller maximum size than the content-max-width. */ {
    max-width: var(--content-narrow-width);
}
.preview {
    padding-top: var(--spacing-400);
    padding-bottom: var(--spacing-400);
    @media ( min-width: 64rem ) {
        padding-top: var(--spacing-800);
        padding-bottom: var(--spacing-600);
    }
}
.preview h2 {
    margin-bottom: var(--spacing-400);
}
.events, .timeline {
    padding-top: var(--spacing-400);
    padding-bottom: var(--spacing-400);

    @media ( min-width: 48rem ) {
        padding-top: var(--spacing-600);
        padding-bottom: var(--spacing-600);
    }
}
.pill {
    border-radius: 0.4em;
    padding: 0.66em 0.9em;
    text-align: center;
    width: fit-content;
}
.feature {
    aspect-ratio: 4/5;
    @media ( min-width: 48rem ) /* Tablet 768 */ {
        aspect-ratio: unset;
    }
}
.feature img, .feature video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.timeline-cell {
    align-items: center;
}
.timeline-cell + .timeline-cell {
    margin-top: var(--spacing-500);
    @media ( min-width: 48rem ) {
        margin-top: var(--spacing-800);
    }
}
.timeline-cell .cell-feature {
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    grid-row: 1;
    @media ( min-width: 48rem ) {
        aspect-ratio: 4/5;
        grid-row: auto;
    }
}
.timeline-cell .prose {
    grid-row: 3;
    @media ( min-width: 48rem ) {
        grid-row: auto;
    }
}
.cell-feature:has(.details):before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right top, rgb(from var(--color-black) r g b / 0.5), transparent 66%);
}
.cell-feature img, .cell-feature video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cell-feature .details {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: unset;
    height: 100%;
    color: var(--color-eggshell);
    padding: var(--font-size-24);
}
/*
 *
 *
 * The homepage uses a 'hub' of oversized navigation links. Styling here.
 *
 *
 */
.hub {
    padding: var(--spacing-400) 0;
    color: var(--color-coffee);
    text-align: center;
}
.hub .container {
    border-top: 1px solid var(--color-coffee);
}
.hub a {
    text-decoration: none;
    border-bottom: 1px solid var(--color-coffee);
    margin: 0;
    padding: var(--spacing-300) 0;
    opacity: 0.30;
    transition: all 0.6s;
}
@media (hover: hover) {
    .hub a:hover, .hub a:focus, .hub a:active {
        opacity: 1;
    }
    .hub a:hover h2, .hub a:focus h2, .hub a:active h2 {
        font-family: var(--font-larken) !important;
        text-transform: none;
        font-style: italic;
        transform: scale(0.95);
    }
}
@media (hover: none) {
    .hub a:hover, .hub a:focus, .hub a:active {
        opacity: 1;
    }
    .hub a:hover h2, .hub a:focus h2, .hub a:active h2 {
        font-family: var(--font-larken) !important;
        text-transform: none;
        font-style: italic;
    }
}
.hub #hub-rings {
    max-width: var(--spacing-600);
    margin: var(--spacing-800) 0 var(--spacing-400);
    padding: 0;
    opacity: 0.5;
}
.hub #description {
    text-transform: none !important;
    display: none;
}
#description h3 {
    padding-bottom: 0;
}
@media ( min-width: 64rem ) /* Laptop 1024 */ {
    .hub #description {
        display: block;
    }
    .hub a {
        justify-content: space-between;
        align-items: end;
        text-align: right;
    }
    .hub a.travel {
        justify-content: flex-start;
    }
    .hub a.reverse {
        flex-direction: row-reverse;
        text-align: left !important;
    }
}

/* 
 *
 *
 * Footer stylings.
 *
 *
 */
.countdown {
    text-align: center;
    padding: var(--spacing-600) 0;
}
.countdown ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    align-items: center;
}
.countdown li {
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    width: 10rem;
}
.countdown li span {
    display: block;
    font-weight: 400;
    padding-bottom: var(--spacing-100);
}
@media ( min-width: 48rem ) /* Tablet 768 */ {
    .countdown {
        padding: var(--spacing-800) 0;
    }
    .countdown ul {
        flex-direction: row;
        gap: unset;
        justify-content: space-between;
    }
}
.pre-footer {
    display: block;
    text-transform: unset;
    padding: var(--spacing-400) 0;
    text-transform: unset !important;
    text-decoration: none !important;
    transition: all ease 0.4s;

    --pre-footer-font-size: var(--font-size-24);

    @media ( min-width: 64rem ) {
        --pre-footer-font-size: var(--font-size-32);
    }
}
.pre-footer > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pre-footer-text {
    font-size: var(--pre-footer-font-size);
    font-family: var(--font-larken);
    letter-spacing: var(--letter-spacing-tight);
}
.pre-footer .pre-footer-arrow {
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--pre-footer-font-size) * 1.5);
    height: calc(var(--pre-footer-font-size) * 1.5);
    overflow: hidden;
    border: 1px solid rgb(from currentColor r g b / 0.33);
    border-radius: 50%;
    margin-left: 3rem;
}
.pre-footer .pre-footer-arrow > i {
    position: absolute;
    font-size: calc(var(--pre-footer-font-size) * 0.66);
    transition: all ease 0.4s;
}
.pre-footer .pre-footer-arrow > i:first-child {
    transform: translateX(0);
}
.pre-footer:hover .pre-footer-arrow > i:first-child {
    transform: translateX(calc(calc(var(--pre-footer-font-size) * 1.5) * 1));
}
.pre-footer .pre-footer-arrow > i:last-child {
    transform: translateX(calc(calc(var(--pre-footer-font-size) * 1.5) * -1));
}
.pre-footer:hover .pre-footer-arrow > i:last-child {
    transform: translateX(0);
}
footer {
    padding: var(--spacing-600) 0 var(--spacing-800) !important;
}
.mini-footer {
    padding: var(--spacing-500) 0 !important;
}
footer .container {
    gap: var(--spacing-600);
}
footer #footer-logo-primary {
    max-height: var(--spacing-600);
}
footer #footer-logo-secondary {
    max-width: var(--spacing-600);
}
/*
 *
 *
 * Event Listings, used primarily on the wedding party page.
 *
 *
 */
 .event-listing {
    width: 100%;
    border-top: 1px solid rgb(from currentColor r g b / 0.5);
    text-align: left;
    padding: var(--spacing-200) 0;
    margin: 0;
    align-items: center;
 }
 .event-listing:last-child {
    border-bottom: 1px solid rgb(from currentColor r g b / 0.5);
 }
 .event-listing .event-meta {
    opacity: 0.66;
    font-weight: 500;
 }
 .event-listing .event-title {
    font-family: var(--font-larken);
 }
 .event-listing .event-description {
    padding-top: var(--spacing-50);
 }