@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --content-max-width: 900px;

    --color-eggshell: #eeeeee;
    --color-sunflower: #fac526;
    --color-vermilion: #e82356;
    --color-foam: #e5dccb;
    --color-crema: #994400;
    --color-coffee: #442211;
    --color-sage: #bddbdb;
    --color-olive: #53765e;
    --color-emerald: #2f4842;
    --color-lavender: #ccbbdd;
    --color-amethyst: #685696;
    --color-grape: #4d3663;
    --color-black: #111111;

    --font-jost: "Jost", Helvetica, Arial, sans-serif;
    --font-larken: "Larken", Georgia, serif;
    --font-public-sans: "Public Sans", Helvetica, Arial, sans-serif;
    --font-size-12: calc(var(--base-value) * 0.75);
    --font-size-14: calc(var(--base-value) * 0.875);
    --font-size-16: var(--base-value);
    --font-size-24: calc(var(--base-value) * 1.5);
    --font-size-32: calc(var(--base-value) * 2);
    --font-size-48: calc(var(--base-value) * 3);
    --font-size-64: calc(var(--base-value) * 4);
    --font-size-80: calc(var(--base-value) * 5);
    --font-size-144: calc(var(--base-value) * 9);

    --font-pre-footer: clamp(var(--font-size-24), 3vw, var(--font-size-32));
    --font-xl-clamp: clamp(var(--font-size-80), 18vw, var(--font-size-144));

    --line-height-80: 80%;
    --line-height-120: 120%;
    --line-height-160: 160%;

    --letter-spacing-normal: 0;
    --letter-spacing-tight: -0.01em;
    --letter-spacing-tighter: -0.03em;
}

html {
    font-size: var(--base-value);
}
body {
    background: top left / 66% repeat url(../assets/bg-texture-eggshell.jpg), var(--color-eggshell);
    color: var(--color-coffee);
}
img {
    padding: var(--spacing-100) 0;
}
/* 
 *
 *
 * Typography
 *
 *
 */
.h1-xl-sans, .h1-xl-serif {
    font-size: var(--font-xl-clamp);
    line-height: var(--line-height-80);
    margin: 0;
}
.h1-xl-sans {
    font-family: var(--font-jost);
    font-weight: 300;
    letter-spacing: var(--letter-spacing-tighter);
    text-transform: uppercase;
}
.h1-xl-serif {
    font-family: var(--font-larken);
    font-weight: 300;
    letter-spacing: var(--letter-spacing-tight);
}
h1 {
    font-family: var(--font-jost);
    font-weight: 400;
    font-size: var(--font-size-80);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-tighter);
}
h2 {
    font-family: var(--font-larken);
    font-weight: 300;
    font-size: var(--font-size-32);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-tight);

    @media ( min-width: 64rem ) /* Laptop 1024 */ {
        font-size: var(--font-size-48);
    }
}
h3 {
    font-family: var(--font-larken);
    font-weight: 300;
    font-size: var(--font-size-32);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-tight);
    margin-bottom: var(--spacing-200);
}
#description h3 {
    margin-bottom: 0;
}
p {
    font-family: var(--font-public-sans);
    line-height: var(--line-height-160);
}
p + p {
    padding-top: var(--spacing-100);
}
p a, a {
    font-family: var(--font-jost);
    font-weight: 500;
    font-size: var(--font-size-14);
    line-height: var(--line-height-120);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 50%;
    text-decoration-thickness: 1px;
    color: inherit;
    transition: 0.3s all;
}
a:hover {
    text-decoration-color: transparent;
}
/* 
 *
 *
 * Background Color Pairs
 *
 *
 */
 .bg-sage {
    background-color: var(--color-sage);
    color: var(--color-emerald);
 }
 .bg-olive {
    background-color: var(--color-olive);
    color: var(--color-eggshell);
 }
 .bg-emerald {
    background-color: var(--color-emerald);
    color: var(--color-olive);
 }

 .bg-foam {
    background-color: var(--color-foam);
    color: var(--color-coffee);
 }
 .bg-crema {
    background-color: var(--color-crema);
    color: var(--color-eggshell);
 }
 .bg-coffee {
    background-color: var(--color-coffee);
    color: var(--color-crema);
 }

 .bg-lavender {
    background-color: var(--color-lavender);
    color: var(--color-grape);
 }
 .bg-amethyst {
    background-color: var(--color-amethyst);
    color: var(--color-eggshell);
 }
 .bg-grape {
    background-color: var(--color-grape);
    color: var(--color-lavender);
 }
/* 
 *
 *
 * Background Monet Paintings
 *
 *
 */
 .bg-placeholder {
    background: linear-gradient(rgb(from var(--color-black) r g b / 0.2)), center / cover no-repeat url(../assets/placeholder-landscape-4-3.jpg);
    color: var(--color-eggshell);
 }
 .bg-monet-garden {
    background: linear-gradient(rgb(from var(--color-black) r g b / 0.20)), center / cover no-repeat url(../assets/paintings/the_artist_s_garden_in_argenteuil_a_corner_of_the_garden_with_dahlias_1991.27.1.jpg);
    color: var(--color-eggshell);
 }
 .bg-monet-dinner {
    background: linear-gradient(rgb(from var(--color-black) r g b / 0.33)), center / cover no-repeat url(../assets/paintings/interior_after_dinner_1983.1.26.jpg);
    color: var(--color-eggshell);
 }
 .bg-monet-bridge {
    background: linear-gradient(rgb(from var(--color-black) r g b / 0.33)), center / cover no-repeat url(../assets/paintings/the_bridge_at_argenteuil_1983.1.24.jpg);
    color: var(--color-eggshell);
 }
 .bg-monet-argenteuil {
    background: linear-gradient(rgb(from var(--color-black) r g b / 0.33)), center 80% / cover no-repeat url(../assets/paintings/argenteuil_1970.17.42.jpg);
    color: var(--color-eggshell);
 }
/* 
 *
 *
 * Page stylings
 *
 *
 */
.hero /* Hero for all pages. Home hero overrides the height. All hero treatments require a second class that defines the background (bg-*). */ {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vmin;
    width: 100%;
}
.home-hero {
    min-height: 100vh;
    min-height: 100svh;
}
.scroll {
    font-family: var(--font-jost);
    font-size: var(--font-size-14);
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.scroll-text {
    margin-bottom: 1em;
}
.scroll-animation {
    position: relative;
    width: 1px;
    background: rgb(from currentColor r g b / 0.33);
    height: clamp(var(--font-size-32), 4vw, var(--font-size-64));
}
.scroll-animation:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: currentColor;
    animation: scrollprompt 4s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@keyframes scrollprompt {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }
    24% {
        transform: scaleY(1);
        transform-origin: top;
    }
    25% {
        transform: scaleY(1);
        transform-origin: bottom;
    }
    50% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
    100% {
        transform: scaleY(0);
        transform-origin: top;
    }
}
@media ( min-width: 48rem ) /* Tablet 768 */ {
    .hero img {
        grid-column-start: 3;
        padding-top: var(--spacing-400);
    }
}
.hub {
    text-align: center !important;
    padding: var(--spacing-400) 0;
    color: var(--color-coffee);
}
.hub .container {
    border-top: 1px solid var(--color-coffee);
}
.hub a {
    text-decoration: none;
    border-bottom: 1px solid var(--color-coffee);
    margin: 0;
    padding: var(--spacing-300) 0;
    opacity: 0.30;
    transition: all 0.6s;
}
@media (hover: hover) {
    .hub a:hover, .hub a:focus, .hub a:active {
        opacity: 1;
    }
    .hub a:hover h1, .hub a:focus h1, .hub a:active h1 {
        font-family: var(--font-larken) !important;
        text-transform: none;
        font-style: italic;
        transform: scale(0.95);
    }
}
@media (hover: none) {
    .hub a:hover, .hub a:focus, .hub a:active {
        opacity: 1;
    }
    .hub a:hover h1, .hub a:focus h1, .hub a:active h1 {
        font-family: var(--font-larken) !important;
        text-transform: none;
        font-style: italic;
    }
}
.hub #hub-rings {
    height: var(--font-pre-footer);
    margin: var(--spacing-800) 0 var(--spacing-400);
    padding: 0;
    opacity: 0.5;
}
.hub #description {
    text-transform: none !important;
    display: none;
}
@media ( min-width: 64rem ) /* Laptop 1024 */ {
    .hub #description {
        display: block;
    }
    .hub a {
        justify-content: space-between;
        align-items: end;
        text-align: right;
    }
    .hub a.travel {
        justify-content: flex-start;
    }
    .hub a.reverse {
        flex-direction: row-reverse;
        text-align: left !important;
    }
}
.introduction {
    padding-top: var(--spacing-1000);
    padding-bottom: var(--spacing-800);
}
.introduction h2 {
    margin-bottom: var(--spacing-400);
}
.feature {
    aspect-ratio: 4/5;
    @media ( min-width: 48rem ) /* Tablet 768 */ {
        aspect-ratio: unset;
    }
}
.feature img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery {
    padding-top: 0;
    padding-bottom: var(--spacing-400);
    @media ( min-width: 48rem ) /* Tablet 768 */ {
        padding: var(--spacing-400) 0;
    }
}
.gallery .grid {
    align-items: center;
}
.gallery img {
    padding-top: 0.25em;
}
/* 
 *
 *
 * Phase-agnostic styling.
 *
 *
 */
.countdown {
    text-align: center;
    padding: var(--spacing-600) 0;
}
.countdown ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    align-items: center;
}
.countdown li {
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    font-family: var(--font-larken);
    font-weight: 300;
    font-size: var(--font-size-32);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-tight);
    width: 10rem;
}
.countdown li span {
    display: block;
    font-family: var(--font-jost);
    font-weight: 400;
    font-size: var(--font-size-80);
    line-height: var(--line-height-120);
    letter-spacing: var(--letter-spacing-tighter);
}
@media ( min-width: 48rem ) /* Tablet 768 */ {
    .countdown {
        padding: var(--spacing-800) 0;
    }
    .countdown ul {
        flex-direction: row;
        gap: unset;
        justify-content: space-between;
    }
}
.pre-footer {
    display: block;
    padding: var(--spacing-400) 0;
    text-transform: unset !important;
    font-family: var(--font-larken);
    font-size: var(--font-pre-footer);
    text-decoration: none !important;
    letter-spacing: var(--letter-spacing-tight);
    transition: all ease 0.4s;
}
.pre-footer > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pre-footer .pre-footer-arrow {
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--font-pre-footer) * 1.5);
    height: calc(var(--font-pre-footer) * 1.5);
    overflow: hidden;
    border: 1px solid rgb(from currentColor r g b / 0.33);
    border-radius: 50%;
    margin-left: 3rem;
}
.pre-footer .pre-footer-arrow > i {
    position: absolute;
    font-size: calc(var(--font-pre-footer) * 0.66);
    transition: all ease 0.4s;
}
.pre-footer .pre-footer-arrow > i:first-child {
    transform: translateX(0);
}
.pre-footer:hover .pre-footer-arrow > i:first-child {
    transform: translateX(calc(calc(var(--font-pre-footer) * 1.5) * 1));
}
.pre-footer .pre-footer-arrow > i:last-child {
    transform: translateX(calc(calc(var(--font-pre-footer) * 1.5) * -1));
}
.pre-footer:hover .pre-footer-arrow > i:last-child {
    transform: translateX(0);
}
footer {
    padding: var(--spacing-600) 0 var(--spacing-800) !important;
}
footer .container {
    gap: var(--spacing-600);
}
footer #footer-logo-primary {
    max-height: 8rem;
}
footer #footer-logo-secondary {
    max-width: 6rem;
}
footer .disclaimer {
    font-size: var(--font-size-12);
    max-width: 60ch;
}